<div style="display: flex; align-items: center; justify-content: center; flex-direction:column; margin-bottom:30px;">
    <h3>OctoEverywhere for PrintAssist</h3>
</div>

<p>Welcome to OctoEverywhere for PrintAssist</p>

<p>Some description of the functionality of PrintAssist</p>

<a class="btn btn-primary" target="_blank" href="" data-bind="attr: { href: printerURL() } " style="padding:5px; padding-left:45px; padding-right:45px; margin-top:15px;">Open PrintAssist in Telegram Now!</a>

<div style="margin-top:30px;">
    Busy now? You can find the button to complete your setup at anytime in the OctoPrint settings under the OctoEverywhere for PrintAssist tab.
</div>

<div style="margin-top:30px;">
    Having Trouble? We are more than happy to help, <a target="_blank" href="https://https://github.com/FlorianJa/OctoPrint-OctoEverywhere-For-PrintAssist/issues">get in touch</a>.
</div>