include README.md
recursive-include octoprint_octoeverywhere_for_printassist/templates *
recursive-include octoprint_octoeverywhere_for_printassist/translations *
recursive-include octoprint_octoeverywhere_for_printassist/static *
